.about-main-div{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 3px;

    background-color: #2f2f2f;


}

.about-content-div{
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;



}
.about-header{
    color: #cacaca;
    font-size: 2em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0px;
    margin-bottom: .1em;
    text-shadow: 1px 1px 0 rgba(0,0,0.15);
    font-family: MontSerrat,Tahoma,Arial,sans-serif;

    padding: 0px;
    margin: 0px;
}
.about-steplabel-icon{
    font-size: 2em;
    color: #cacaca;
}
.about-header-paragraph{
    color: #cacaca;
    font-size: 1.5em;
}
.about-content-paragraph{
    color: #cacaca;
    font-size: 1em;
}
.about-button-next{
    font-size: 1em;
    color: #cacaca;
    font-weight: 600;
}
.about-button-back{
    font-size: 1em;
    color: black;
    font-weight: 600;
}