.contact-main-div{
    height: 100%;
    width: 100%;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #2f2f2f;
}

.contact-content-div{
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #2f2f2f;
}

.contact-form-div{
    width: 100%;

    background-color: #2f2f2f;
    color: #cacaca;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;

}
.contact-send-button{
    width: 10%;
    background-color: #2f2f2f;
}

.contact-field-div{
    width: 35%;

}