.home-main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #2f2f2f;

}


.home-main-skills{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 1%;
}
.home-header{
    color: #cacaca;
    font-size: 2em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0px;
    margin-bottom: .1em;
    width: 100%;
    text-shadow: 1px 1px 0 rgba(0,0,0.15);
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
}
.home-main-skills-row{
    width: 100%;

    display: flex;
    flex-direction: row;
}
.home-icon{
    font-size: 50px;
    color: #cacaca;
}
.home-main-frameworks{
    display: flex;
    flex-direction: row;
}
.home-styled-paragraph{

    height: 25px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 0 rgba(0,0,0,.25);    
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: 1em;

    cursor: default;

    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;

    margin-right: 10px;
}

.home-styled-paragraph:hover{
    background-color: #3f3f3f;
}

.home-icon-button-main{
    height: 550px;
    width: 49.5%;
    padding: 0px;

    box-shadow: 1px 1px 0 rgba(0,0,0,.25);    
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    margin-right: 5px;
}
.home-icon-button-main:hover{
    background-color: #3f3f3f;
}
.home-icon-button-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-icon-button{
    height: 120px;
    width: 120px;
    padding: 0px;

    box-shadow: 1px 1px 0 rgba(0,0,0,.25);    
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-right: 1%;
}

.home-icon-button:hover{
    background-color: #3f3f3f;
}

.home-icon-title{
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #cacaca;
}

.home-secondary-skills{
    height: 25%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 2%;
    padding-bottom: 2%
}

.home-secondary-row{
    height: 25%;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.home-icon-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    padding: 0px;
    margin: 0px;
}
.home-icon-attached{
    margin: 0px;
    padding: 0px;
    font-weight: 100;
}